/* Global styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fea7dd;
    color: #000;
    text-align: center;
}

/* Container centré */
.container {
    padding: 50px;
}

/* Image du panda */
.panda-image {
    width: 200px;
}

/* Nom du token */
.token-name {
    font-size: 48px;
    margin: 20px 0;
}

/* Slogan */
.slogan {
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

/* Section Total Supply */
.total-supply-title {
    font-size: 24px;
    color: #fff;
    margin: 20px 0 10px 0;
}

.total-supply-amount {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Roadmap Section */
.roadmap-section {
    padding: 20px;
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centre les blocs horizontalement */
    flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant */
}

.roadmap-section h2 {
    font-size: 28px;
    color: #ffffff;
    width: 100%; /* Assure que le titre s'étend sur toute la largeur */
}

/* Phase Blocks */
.phase-block {
    width: 300px;
    padding: 20px;
    margin: 20px; /* Ajout d'une marge pour espacer les blocs */
    border: 2px solid #ffffff;
    background-image: url('panda_image.png'); /* Utilise l'image panda_image.png */
    background-size: cover; /* S'assurer que l'image couvre le bloc */
    background-position: center; /* Centrer l'image */
    transition: transform 0.3s ease; /* Transition pour le mouvement */
    cursor: pointer; /* Montre que l'élément est interactif */
    color: #ffffff; /* Texte blanc pour le contraste */
}

.phase-block:hover {
    transform: translateX(10px); /* Déplacement vers la droite au survol */
}

.phase-block:active {
    transform: translateX(-10px); /* Déplacement vers la gauche au clic */
}

.phase-block h3 {
    font-size: 24px;
    margin-top: 20px;
}

.phase-block ul {
    list-style-type: none;
    padding-left: 0;
    color: #ffffff;
    font-size: 18px;
}

/* Section Community */
.community-section {
    margin-top: 40px;
    background-color: #000; /* Fond noir */
    padding: 20px; /* Ajouter du padding pour espacer le contenu */
}

.community-section h2 {
    font-size: 28px;
    color: #ffffff;
}

.community-section p {
    font-size: 20px;
    color: #ffffff;
}

.community-section a {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}
