/* Global styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fea7dd; /* Fond rose */
    color: #000;
    text-align: center;
}

/* Container centré */
.container {
    padding: 50px;
}

/* Image du panda */
.panda-image {
    width: 200px;
}

/* Nom du token */
.token-name {
    font-size: 48px;
    margin: 20px 0;
}

/* Slogan */
.slogan {
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5; /* Espacement entre les lignes */
    text-align: center;
    color: #ffffff; /* Texte en blanc */
}

/* Section Total Supply */
.total-supply-title {
    font-size: 24px;
    color: #fff; /* Texte en blanc */
    margin: 20px 0 10px 0;
}

.total-supply-amount {
    font-size: 36px;
    color: #fff; /* Texte en blanc */
    font-weight: bold;
    margin-bottom: 40px;
}

/* Section Roadmap */
.roadmap-section {
    background-color: transparent; /* Suppression du fond noir */
    padding: 20px;
}

.roadmap-section h2 {
    font-size: 28px;
    color: #ffffff;
}

.roadmap-section h3 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
}

.roadmap-section ul {
    list-style-type: none;
    padding-left: 0;
    color: #ffffff;
    font-size: 18px;
}

/* Section Community */
.community-section {
    margin-top: 40px;
}

.community-section h2 {
    font-size: 28px;
    color: #ffffff;
}

.community-section p {
    font-size: 20px;
    color: #ffffff;
}

.community-section a {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}
