/* Global styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fea7dd;
    color: #000;
    text-align: center;
}

/* Container centré */
.container {
    padding: 50px;
}

/* Image du panda */
.panda-image {
    width: 200px;
}

/* Nom du token */
.token-name {
    font-size: 48px;
    margin: 20px 0;
}

/* Slogan */
.slogan {
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

/* Section Total Supply */
.total-supply-title {
    font-size: 24px;
    color: #fff;
    margin: 20px 0 10px 0;
}

.total-supply-amount {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Roadmap Section */
.roadmap-section {
    padding: 20px;
}

.roadmap-section h2 {
    font-size: 28px;
    color: #ffffff;
}

.phase {
    animation: fadeIn 2s ease-in-out;
}

.phase h3 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
}

.phase ul {
    list-style-type: none;
    padding-left: 0;
    color: #ffffff;
    font-size: 18px;
}

/* Animation for Phases */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Section Community */
.community-section {
    margin-top: 40px;
}

.community-section h2 {
    font-size: 28px;
    color: #ffffff;
}

.community-section p {
    font-size: 20px;
    color: #ffffff;
}

.community-section a {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}
